#!/usr/bin/env bash

alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ......="cd ../../../../.."
alias .......="cd ../../../../../.."
alias ........="cd ../../../../../../.."
alias -- -="cd -"

# Shortcuts
alias ls="ls --color=auto"
alias g="git"
alias s="git status"
alias l="ls -a"
alias d="docker"
alias D="cd ~/Dev";
alias p="docker ps -a"
alias a=". $(script_path)".aliases

# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
alias grep='grep --color=auto'
