#!/usr/bin/env bash

# Make vim the default editor.
export EDITOR='vim';

# Prefer US English and use UTF-8.
if ([ -n "$LANG" ]) && ([ -n "$LC_ALL" ]); then
    export LANG='en_US.UTF-8';
    export LC_ALL='en_US.UTF-8';
fi

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

export CLICOLOR=1
export PATH=~/.rbenv/shims:$PATH

export NVM_DIR="$HOME/.nvm"
