#!/usr/bin/env bash

# Make vim the default editor.
export EDITOR='vim';

# Prefer US English and use UTF-8.
if ([ -n "$LANG" ]) && ([ -n "$LC_ALL" ]); then
    export LANG='en_US.UTF-8';
    export LC_ALL='en_US.UTF-8';
fi

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

export CLICOLOR=1
export NVM_DIR="$HOME/.nvm"

if [ $(uname) = Darwin ]; then
    export MANPATH="/usr/local/opt/coreutils/libexec/gunman:$MANPATH"
fi
